body{
    margin: 10px;
}
/* Task 1 */
div{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
input {
    width: 30%;
    padding: 1rem;
}
img{
    width: 50px;
}
label{
    display: block;
}

/* Task 2 */




/* task 4 */
.span{
    width: 31%;
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
}
.ok {
    border: 5px solid green;
}

.error {
    border: 5px solid red;
}