
.dv {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    border: 0px;
}

.color{
    width: 50px;
    height: 50px;
}

.in{
    display: flex;
    justify-content: space-around;
}