input{
    display: block;
    margin: 10px 0;
}
.cube {
    width: 400px;
    height: 400px;
}

.btn {
    margin: 10px 5px 10px 0;
    width: 50px;

}

.banner {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: cornflowerblue;
    border-radius: 5px;
}