body {
    background-color: #E5E5E5;
}

/* Навигация */
.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    height: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 33px 60px 0 60px;
    align-items: center;
}

.header-logo {
    width: 343px;
    margin-right: 183px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav_item {

    margin-right: 25px;
}


.header-nav_item a {
    font-size: 1.2em;
    font-weight: 200;
    text-decoration: none;
    padding: 5px;
    color: black;
}

.form {
    position: relative;
}

.form_input {
    border-radius: 20px;
    height: 40px;
    width: 250px;
    box-sizing: border-box;
    padding-left: 40px;
}

.form_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    left: 15px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.form_btn__img {
    width: 150%;
}

/* Основная страница, блок 1*/

.section1 {
    display: flex;
    justify-content: space-between;
    margin: 82px 60px auto 60px;
}

.section1-left {
    max-width: 578px;
}

.section1-left_title {
    font-size: 62px;
    font-weight: 700;
    text-align: left;
}

.section1-left_main {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 300;
    text-align: left;

}

.section1-left_ref {
    margin-top: 39px;
}


.section1-left_ref a {
    padding: 9px 12px 9px 12px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;

}